*{
    text-align: center;
    font-family: 'Lato';
    color:cadetblue;
}

table{
width:  500px;
height: 300px;
border-collapse: collapse;
margin:auto;
}

th, td{
border: solid 1px  cadetblue;
padding: 5px;

}
.tamaño{
height: 50px;
}
th {
background-color: cadetblue;
color: white;
}
td{
background-color: azure;
}