body{
    background-color: black;
    color: whitesmoke;
    width: 50%;
    margin-bottom: 30px;
    margin-left: 25%;
    size: 100%;
}

hr{
    color: white;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3 {
    text-align: right;
}